@model WebApplication.Models.Client

<h1>Dodaj klienta</h1>
<hr />

<form method="post" asp-action="Create" class="row g-3">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="col-md-6">
        <label asp-for="Surname" class="form-label"></label>
        <input asp-for="Surname" class="form-control">
    </div>
    <div class="col-12">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="col-12">
        <label asp-for="PhoneNum" class="form-label"></label>
        <input asp-for="PhoneNum" class="form-control">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary" value="create">Dodaj</button>
    </div>
</form>
